<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="false"
        android:theme="@style/Theme.GrowDiary"
        tools:targetApi="31">

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.NoPlantsActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.SettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.AddActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.PlantActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.EditActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.GalleryActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.ShopActivity"
            android:exported="true"
            android:parentActivityName=".activities.SettingsActivity"
            android:screenOrientation="portrait"/>

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

    </application>
</manifest>